<section id="posts">
   <div class="container pt-3">

    <h2 class="about-title">BOOKMARKS</h2>
      {% for post in site.bookmarks %}
    <div class="row post-entry">

      <div class="col-sm-12 post-entry-details">
        <h4><a href="{{ post.url | prepend: site.baseurl }}" class ="fullpost-title">{{ post.title }}</a></h4>
          <p>
            {% if post.summary %}
              {{ post.summary }}
              {% else %}
              {{ post.excerpt }}
            {% endif %}
            </p>
            <p>{{ post.categories }}</p>
      </div>
    <div class="col-sm-12 post-divider">
    </div>
  </div>
{% endfor %}
      </div>
</section>
