.navbar
  background: -webkit-linear-gradient(to right, $leftgradient, $rightgradient)
  background: linear-gradient(to right, $leftgradient, $rightgradient)

.nav-item
  font-size: 1.1rem
  padding-right: 15px
  text-align: center

.navbar-light .navbar-nav .nav-link
  color: white
  transition: all 0.3s ease

  &:hover
    color: white !important
<<<<<<< HEAD
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3), 1px -1px 0 rgba(255, 255, 255, 0.3), -1px 1px 0 rgba(255, 255, 255, 0.3), 1px 1px 0 rgba(255, 255, 255, 0.3)
=======
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white

.navbar-toggler-icon
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4
>>>>>>> 13a7c90891834430b9b193bd9104da8e490cf076
