.logo
  height: 80px
  width: 80px

.navbar
  box-shadow: 1px 1px 3px $primary
  opacity: 0.9
  background: linear-gradient(135deg, $primary 0%, $secondary 100%)

.nav-item
  font-size: 1.1rem
  padding-right: 15px
  text-align: center

.navbar-light .navbar-nav .nav-link
  color: $white
  &:hover
    color: lighten($white, 20%)
